<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Souce+Code+Pro&display=Roboto&display=swap" rel="stylesheet">
    <title>Kevin's FCC Timestamp Project</title>
</head>
<body>
<header>
    <h1>Timestamp Microservice</h1>
</header>
<main>
    <section>
    <h2>Examples Usage</h2>
        <div class="links">
            <a href="api/1990-01-19">[project url]/api/1990-01-19</a>
            <a href="api/632707200000">[project url]/api/632707200000</a>
        </div>
    </section>
    <section>
        <h2>Example Output</h2>
         <div class="preview">
             <ul>
                 {
                    <li>"unix": 632707200000,</li>
                    <li>"utc": "Fri, 19 Jan 1990 00:00:00 GMT" </li>
                 }
             </ul>

         </div>
    </section>
</main>

</body>
</html>